<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CallCenter</title>
		<!-- Sets initial viewport load and disables zooming  -->
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!-- Include the compiled Ratchet CSS -->
		<link href="css/ratchet.css" rel="stylesheet">
        <!-- <link href="css/ratchet-theme-android.css" rel="stylesheet"> -->
		<style type="text/css">
		#scan{margin:50% auto;}
		</style>
		<!-- Include the compiled Ratchet JS -->
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="js/handlebars-v3.0.0.js"></script>
		<script src="js/ratchet.js"></script>
	</head>
	<body>
		<!-- Make sure all your bars are the first things in your <body> -->
		<header class="bar bar-nav">
			<!-- <a class="icon icon-left-nav pull-left" href="index.html" data-transition="slide-in"></a> -->
			<h1 class="title" style="background: #1bb3b3;">Call Center</h1>
            <span class="icon icon-more-vertical pull-right"></span>
		</header>
		<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
		<div class="content task-list-content" id="tasks">
			<script type="text/x-handlebars-template" id="tasklist">
				<ul class="table-view">
					{{#each users}}
						<li class="table-view-cell task-list-content" style=" padding: 14px 65px 14px 15px;">
								{{fullname}}
						</li>
					{{/each}}
				</ul>
			</script>

		</div>
		<div id="myModal" class="modal">
			<header class="bar bar-nav">
				<a class="icon icon-left-nav pull-left" id="backM" onclick="toreLoad();" style="padding-top: 14px;font-size:17px;color:#ffffff;">取消</a>
				<h1 class="title">工单明细</h1>
                <a class="icon pull-right transparent_class" style="padding-top: 14px;font-size:17px;color:#2b5b5b" id="toSava" onclick="update();" >保存</a>
			</header>
			<div class="content product-content">
				<form class="input-group">
					<input type="hidden" name="id" id="id" />
                    <input type="hidden" name="orderId" id="orderid" />
                    <input type="hidden" name="taskFlag" id="taskflag" value='1'/>
					<div class="input-row">
						<label>差旅名称:</label>
						<input type="text" placeholder="差旅名称" name="name" id="name" readonly />
					</div>

					<div class="input-row">
						<label>订单ID:</label>
						<input type="text" placeholder="订单ID" name="orderId" id="orderId" />
					</div>
                <!--<ul class="table-view">-->

                <!--</ul>-->
                <div id="products">

                </div>
					<div class="input-row">
						<label>报单时间:</label>
						<input type="text" placeholder="报单时间" name="pushTime" id="pushtime"/>
					</div>
					<div class="input-row">
						<label>工作时间:</label>
						<input type="text" placeholder="工作时间" name="workingHours" id="workinghours"/>
					</div>
					<div class="input-row">
						<label>合同金额:</label>
						<input type="number" placeholder="合同金额" name="contractAmount" id="contractamount"/>
					</div>
					<div class="input-row">
						<label>差旅金额:</label>
						<input type="number" placeholder="差旅金额" name="travelAmount" id="travelamount"/>
					</div>
					<div class="input-row">
						<label>出发地:</label>
						<input type="text" placeholder="出发地" name="startplace" id="startplace"/>
					</div>
					<div class="input-row">
						<label>出发时间:</label>
						<input type="text" placeholder="出发时间" name="startTime" id="starttime"/>
					</div>
					<div class="input-row">
						<label>到达地:</label>
						<input type="text" placeholder="到达地" name="destination" id="destination"/>
					</div>
					<div class="input-row">
						<label>到达时间:</label>
						<input type="text" placeholder="到达时间" name="arriveTime" id="arrivetime"/>
					</div>
					<div class="input-row">
						<label>区间交通费:</label>
						<input type="number" placeholder="区间交通费" name="rangeTransportation" id="rangetransportation"/>
					</div>
					<div class="input-row">
						<label>市内交通费:</label>
						<input type="number" placeholder="市内交通费" name="localTransportation" id="localtransportation"/>
					</div>
					<div class="input-row">
						<label>伙食补贴:</label>
						<input type="number" placeholder="伙食补贴" name="foodSubsidies" id="foodsubsidies"/>
					</div>
					<div class="input-row">
						<label>住房补贴:</label>
						<input type="number" placeholder="住房补贴" name="staySubsidies" id="staysubsidies"/>
					</div>
					<div class="input-row">
						<label>货运费:</label>
						<input type="number" placeholder="货运费" name="freightCharges" id="freightcharges" />
					</div>
					<div class="input-row">
						<label>取件运费:</label>
						<input type="number" placeholder="取件运费" name="freightPickup" id="freightpickup"/>
					</div>
					<div class="input-row">
						<label>材料费:</label>
						<input type="number" placeholder="材料费" name="materialCosts" id="materialcosts"/>
					</div>
					<div class="input-row">
						<label>财务费:</label>
						<input type="number" placeholder="财务费" name="financeCharges" id="financecharges"/>
					</div>
					<div class="input-row">
						<label>其他:</label>
						<input type="text" placeholder="其他" name="otherCharges" id="othercharges" />
					</div>
					<div class="input-row">
						<label>提成:</label>
						<input type="number" placeholder="提成" name="commission" id="commission"/>
					</div>
					<div class="input-row">
						<label>备注:</label>
						<input type="text" placeholder="备注" name="remark" id="remark"/>
					</div>

                   <!--  <div class="table-view-cell">
                        <a class="navigate-right" href="#myProductModal">
                            <span class="badge">5</span>
                            <label>验证设备</label>
                        </a>
                    </div> -->

                    <div class="table-view-divider font-reset">产品</div>
                    <div id="mp"></div>
					<div class="table-view-divider font-reset">回执</div>
					<div class="input-row">
						<label>附件：</label>
                        <input type="file" name="file" id="file"/>
                        <input type="hidden" name="receipt" id="receipt"/>
					</div>

					<!-- <button type="button" class="btn btn-primary btn-block" onclick="update();">提交</button> -->
				</form>
			</div>
		</div>

        <div id="myProductModal" class="modal">
            <header class="bar bar-nav">
				<a class="icon icon-down pull-right" id="backM" href="#myProductModal"></a>
				<h1 class="title">设备列表</h1>
			</header>


        </div>

         <div id="productDetailModal" class="modal">
            <header class="bar bar-nav">
                <a class="icon icon-left-nav pull-left" href="#productDetailModal" style="padding-top: 14px;font-size:17px;color:#ffffff;">工单明细</a>
                <h1 class="title">产品明细</h1>
                <a class="icon pull-right" style="padding-top: 14px;font-size:17px;color:#2b5b5b"  onclick="validate();" id="validateBtn"  href="#productDetailModal">保存</a>
            </header>

            <div class="content product-content"  id="pd">
                <form class="input-group">
                <input type="hidden"  id="deviceno" />
                <input type="hidden"  id="productid" />
                <input type='hidden' id='propertyid' name="id" />
                <!--validateFalg 的状态码分为0，1，2 0为验证不通过，1为验证通过 2为没有进行验证 考虑到可能有没有产品的情况，初始化为默认验证通过-->
                <input type="hidden" id="validateFlag" value="1" />
                <div class="input-row">
                    <label>产品名称:</label>
                    <input type="text" placeholder="产品名称" name="name" id="name" readonly />
                </div>
                <div class="input-row">
                    <label>计量单位:</label>
                    <input type="text" placeholder="计量单位" name="unit" id="unit" readonly />
                </div>
                <div class="input-row">
                    <label>所属项目:</label>
                    <input type="text" placeholder="所属项目" name="itemName" id="itemname" readonly />
                </div>
                 <div class="input-row">
                    <label>销售价格:</label>
                    <input type="text" placeholder="销售价格" name="salesPrice" id="salesprice" readonly />
                </div>
                 <div class="input-row">
                    <label>产品编号:</label>
                    <input type="text" placeholder="产品编号" name="deviceNo" id="code"/>
                </div>
                <div class="input-row">
                    <label>二维码:</label>
                    <input type="text" placeholder="二维码" name="tdc" id="tdc" style="width:55%;" />
                    <div style="float:right;">
                        <a  onclick="scanQRCode();">
                            <img class="media-object" style="margin-top:12px;" src="imags/QRCode.svg"/>
                            <img class="media-object" style="margin-top:12px;"  src="imags/right.png"/>
                         </a>
                    </div>
                </div>
               <!--  <div class="bar bar-standard">
                    <button class="btn btn-positive btn-block">扫一扫</button>
                </div> -->
                <!-- <div class="bar bar-standard bar-footer">
                    <a class="btn btn-primary btn-block" onclick="validate();" id="validateBtn"  href="#productDetailModal">确认</a>
                </div> -->
            </div>
            </form>
        </div>

        <!--报警任务-->
        <div id="alarmTask" class="modal">
            <header class="bar bar-nav">
                <a class="icon icon-down pull-right" id="backM" href="#alarmTask"></a>
                <h1 class="title">任务明细</h1>
            </header>
            <div class="content">
                <form class="input-group">
                    <input type="hidden" name="id" id="alarm_id" />
                    <input type="hidden" name="orderId" id="alarm_orderid" />
                    <div class="input-row">
                        <label>差旅名称:</label>
                        <input type="text" placeholder="差旅名称" name="name" id="alarm_name" readonly />
                    </div>
                    <div class="input-row">
                        <label>报单时间:</label>
                        <input type="text" placeholder="报单时间" name="pushTime" id="alarm_pushtime" readonly/>
                    </div>
                    <div class="input-row">
                        <label>工作时间:</label>
                        <input type="text" placeholder="工作时间" name="workingHours" id="alarm_workinghours" readonly/>
                    </div>
                    <div class="input-row">
                        <label>合同金额:</label>
                        <input type="number" placeholder="合同金额" name="contractAmount" id="alarm_contractamount" readonly/>
                    </div>
                    <div class="input-row">
                        <label>差旅金额:</label>
                        <input type="number" placeholder="差旅金额" name="travelAmount" id="alarm_travelamount" readonly/>
                    </div>
                    <div class="input-row">
                        <label>出发地:</label>
                        <input type="text" placeholder="出发地" name="startplace" id="alarm_startplace" readonly/>
                    </div>
                    <div class="input-row">
                        <label>出发时间:</label>
                        <input type="text" placeholder="出发时间" name="startTime" id="alarm_starttime" readonly/>
                    </div>
                    <div class="input-row">
                        <label>到达地:</label>
                        <input type="text" placeholder="到达地" name="destination" id="alarm_destination" readonly/>
                    </div>
                    <div class="input-row">
                        <label>到达时间:</label>
                        <input type="text" placeholder="到达时间" name="arriveTime" id="alarm_arrivetime" readonly/>
                    </div>
                    <div class="input-row">
                        <label>区间交通费:</label>
                        <input type="number" placeholder="区间交通费" name="rangeTransportation" id="alarm_rangetransportation" readonly/>
                    </div>
                    <div class="input-row">
                        <label>市内交通费:</label>
                        <input type="number" placeholder="市内交通费" name="localTransportation" id="alarm_localtransportation" readonly/>
                    </div>
                    <div class="input-row">
                        <label>食补:</label>
                        <input type="number" placeholder="食补" name="foodSubsidies" id="alarm_foodsubsidies" readonly/>
                    </div>
                    <div class="input-row">
                        <label>住补:</label>
                        <input type="number" placeholder="住补" name="staySubsidies" id="alarm_staysubsidies" readonly/>
                    </div>
                    <div class="input-row">
                        <label>货运费:</label>
                        <input type="number" placeholder="货运费" name="freightCharges" id="alarm_freightcharges" readonly/>
                    </div>
                    <div class="input-row">
                        <label>取件运费:</label>
                        <input type="number" placeholder="取件运费" name="freightPickup" id="alarm_freightpickup" readonly/>
                    </div>
                    <div class="input-row">
                        <label>材料费:</label>
                        <input type="number" placeholder="材料费" name="materialCosts" id="alarm_materialcosts" readonly/>
                    </div>
                    <div class="input-row">
                        <label>财务费:</label>
                        <input type="number" placeholder="财务费" name="financeCharges" id="alarm_financecharges" readonly/>
                    </div>
                    <div class="input-row">
                        <label>其他:</label>
                        <input type="number" placeholder="其他" name="otherCharges" id="alarm_othercharges" readonly/>
                    </div>
                    <div class="input-row">
                        <label>提成:</label>
                        <input type="number" placeholder="提成" name="commission" id="alarm_commission" readonly/>
                    </div>
                    <div class="input-row">
                        <label>备注:</label>
                        <input type="number" placeholder="备注" name="remark" id="alarm_remark" readonly/>
                    </div>
                    <button type="button" class="btn btn-positive btn-block" onclick="">接受</button>
                </form>
            </div>
        </div>

        <div id="QRCode" class="modal">
            <header class="bar bar-nav">
                <a class="icon icon-left-nav pull-left" id="backM" href="#QRCode" style="padding-top: 14px;font-size:17px;color:#ffffff;">产品明细</a>
                <h1 class="title">二维码/条形码</h1>
        </header>
        </div>
        <div class="bg" id="bg">
            <div class="timespan">
                处理中.....
            </div>
        </div>
		<nav class="bar bar-tab">
			<a class="tab-item" href="map.html" data-transition="slide-in" data-ignore="push">
				<img class="media-object" src="imags/map.svg"/><span class="tab-label"  style="margin-left:2px;">地图</span>
			</a>
			<a class="tab-item active" href="task.html" data-transition="slide-in" data-ignore="push">
				<img class="media-object"  src="imags/task-active.svg"/><span class="tab-label" style="margin-left:2px;">任务</span>
			</a>
			<a class="tab-item" href="monitor.html" data-transition="slide-in" data-ignore="push"  id="monitorHtml">
				<img class="media-object"  src="imags/monitor.svg"/>
				<span class="tab-label">监控</span>
			</a>
		</nav>
		<script type="text/javascript">
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                document.getElementById('file').addEventListener('change', handleFileSelect, false);
            } else {
                alert('The File APIs are not fully supported in this browser.');
            }

            //当表单有数据改变时，工单详细的保存变成不透明
            $("input").change(function(){

               $("#toSava").removeClass('transparent_class');
            });

            //base64 上传文件
            function handleFileSelect(evt) {
                var files = evt.target.files;
                var file = files[0];

                if (files && file) {
                    var reader = new FileReader();

                    reader.onload = function(readerEvt) {
                        var binaryString = readerEvt.target.result;
                        document.getElementById("receipt").value = btoa(binaryString);
                    };

                    reader.readAsBinaryString(file);
                }
            }

            //提交表单
            function update() {

                var flag=$("#validateFlag").val();

                if(flag=='1'){

                    document.getElementById("bg").style.display ="block";
                    $("#taskflag").val(3);

                    //差旅信息
                    var fieldArray = $("#myModal form.input-group").serializeArray();
                    var i = 0;
                    var subData = {};
                    for (; i < fieldArray.length; i++) {
                        var key = fieldArray[i].name;
                        subData[key] = fieldArray[i].value;
                    }

                    console.log(subData);
                    $.ajax({
                        url : 'http://10.1.1.32:8080/ccs/invoke/scaffold/cc/sales/travel/upload',
                        type : 'POST',
                        crossDomain : true,
                        data : subData,
                        success : function(data) {
                            //alert('更新成功');

                            var taskId=$("#id").val();
                            var temp='<span class="badge badge-positive">任务完成</span>'
                            $("a[data-id="+taskId+"] span").html('');
                            $("a[data-id="+taskId+"]").append(temp);

                            document.getElementById("bg").style.display ="none";
                            location.href = '#myModal';
                            window.location.reload();
                        },
                        error: function(xhr, error, throwm) {
                            console.log(throwm);
                            console.log('error !!!');
                            $("#taskflag").val(1);
                            document.getElementById("bg").style.display ="none";
                        }
                    });
                }else if(flag=='0'){

                    alert("产品验证失败，不能提交");
                }else{

                    alert("请先进行产品验证");
                }
            }

            //取消-刷新页面
            function toreLoad(){

                window.location.reload();
            }

            //确认产品信息
            function validate(){

                var code = $("#productDetailModal input[name=deviceNo]").val();
                var deviceNo = $("#deviceno").val();
                var productId=$("#productid").val();

                if(deviceNo == '' || deviceNo ==null || deviceNo =='null'){

                    if(code == '' || code ==null || code =='null'){

                        var temp='<span class="badge badge-negative">请输入产品编号</span>'
                        $("#"+productId).append(temp);
                        $("#validateFlag").val(2);
                    }else{

                        var temp='<span class="badge badge-primary">新增的产品编号</span>'
                        $("#"+productId).append(temp);
                        $("#validateFlag").val(1);
                        updateAjax();
                    }
                }else{
                    if(code == deviceNo){
                        var temp='<span class="badge badge-positive">验证成功</span>'
                       $("#"+productId).append(temp);
                       $("#validateFlag").val(1);
                       updateAjax();
                    }else{

                         var temp='<span class="badge badge-negative">验证失败</span>'
                         $("#"+productId).append(temp);
                         $("#validateFlag").val(0);
                    }
                }
            }

            function updateAjax(){

                //产品信息
                var fieldArray = $("#productDetailModal form.input-group").serializeArray();
                var i = 0;
                var subData = {};
                for (; i < fieldArray.length; i++) {
                    var key = fieldArray[i].name;
                    subData[key] = fieldArray[i].value;
                }
                console.log(subData);

                document.getElementById("bg").style.display ="block";

                $.ajax({
                    url:'http://10.1.1.32:8080/ccs/invoke/scaffold/cc/sales/product-property/update',
                    type:'POST',
                    crossDomain : true,
                    data:subData,
                    success:function(data){

                        var id=$("#productid").val();
                        $("#"+id).attr("data-tdc",subData['tdc']);
                        document.getElementById("bg").style.display ="none";
                    },
                    error:function(xhr, error, throwm) {
                        console.log(throwm);
                        console.log('error !!!');
                        var id=$("#productid").val();
                        $("#"+id).attr("data-tdc",subData['tdc']);
                        document.getElementById("bg").style.display ="none";
                    }
                });
            }

            //扫描二维码
            function scanQRCode(){

                cordova.plugins.barcodeScanner.scan(
                    function (result) {

                        var qrCode = result.text;
                        document.getElementById("tdc").value =qrCode;
                    },
                    function (error) {
                        alert("Scanning failed: " + error);
                    }
                );
            }

            var prodSize = 0;
            //填充表单用
			function fillData(obj) {
                var dataset=obj.dataset;
                var str = obj.hash;
                var modal = str.replace("#","");
                console.log(dataset);
                // $("#mp").html("");

                var clickBtn = obj.id;

                if(clickBtn.indexOf("deviceNo") != -1){

                    $("#productDetailModal input").val("");
                }

				for (var key in dataset) {

                    if(modal=='myModal'){
    					var element = document.getElementById(key);
    					if (element) {
                            console.log(key);
    						//!!! 验证图片是否已经上传
                            if (key == "orderId") {
                                console.log('order id =' + dataset[key]);
                                element.value=dataset[key];
                                $.ajax({
                                    url : 'http://192.168.99.100/ccs/invoke/scaffold/cc/sales/order/web/service/' + dataset[key],
                                    crossDomain : true,
                                    success : function(data) {
                                        alert(1111);
                                        console.log(data.details.length);
                                        prodSize = data.details.length;
                                        $('#prods').append(prodTemplate(data));
                                    },
                                    error : function() {
                                    }
                                });
                            //    element.src = 'data:image/png;base64,' + atob(dataset[key]);
                            } else {

                                // if(dataset[key] !=null && dataset[key] !='null'){
    						      element.value = dataset[key];
                                // }
                            }
    					} else {
                             // $("#validateFlag").val(1);
                             if(dataset['hashorder'] == 'no'){

                                 $("#mp").html("");
                             }

                            if(key=='orderDetails'){
                                var objs=JSON.parse(dataset[key]);
                                var temp="<ul class='table-view'>";

                                for(var i=0;i<objs.length;i++){

                                    if(objs[i].product !=null){

                                        var flag = dataset['taskflag'];

                                        //该任务有产品则将产品验证flag 变为2 默认没有验证
                                        $("#validateFlag").val(2);
                                        temp+='<li class="table-view-cell">';
                                        temp+='<a class="navigate-right" href="#productDetailModal"';
                                        temp+='id=deviceNo'+i+" ";
                                        temp+='data-productid=deviceNo'+i+' ';
                                        temp+='data-name='+objs[i].product.name+' ';
                                        if(objs[i].product.productProperty !=null){

                                            var salesprice=objs[i].product.productProperty.salesPrice;
                                            var deviceNo=objs[i].product.productProperty.deviceNo;
                                            var tdc = objs[i].product.productProperty.tdc;

                                            if(salesprice !=null && salesprice !=""){

                                                temp+='data-salesprice='+salesprice+' ';
                                            }

                                            if(deviceNo !=null && deviceNo !=""){

                                                temp+='data-deviceno='+deviceNo+' ';
                                            }

                                            if(tdc !=null && tdc !=""){

                                                temp+='data-tdc='+tdc+' ';
                                            }

                                            temp+='data-propertyid='+objs[i].product.productProperty.id+' ';
                                        }
                                        temp+='>';
                                        temp+='产品名称：'+objs[i].product.name+' ';
                                        if(flag=='3'){

                                            temp+='<span class="badge badge-positive">验证成功</span>';
                                            $("#validateFlag").val(1);
                                        }
                                        temp+='</a>';
                                        temp+='</li>';

                                        $("#code").val("");
                                    }
                                }
                                temp+='</ul>';
                                $("#mp").html(temp);
                            }
    					}
                    }else if(modal=='productDetailModal'){

                        console.log(key);

                        if(dataset[key] !=null && dataset[key] !='null'){

                            $("#productDetailModal input[id="+key+"]").val(dataset[key]);
                        }

                       // $("#validateBtn").attr("data-deviceno",dataset["deviceno"]);
                        $("#validateBtn").attr("data-productid",dataset["productid"]);

                       //如果任务完成，则显示产品编号
                       var tflag = $("#taskflag").val();

                       if(tflag =='3' && obj.id !='validateBtn'){

                            $("#code").val(dataset["deviceno"]);
                       }

                       if(obj.id=='validateBtn'){

                          validate();
                       }
                    }else if(modal == 'alarmTask'){

                        var element = document.getElementById(key);
                        if (element) {

                             element.value = dataset[key];
                        }
                    }
				};
			}
			var source = $("#tasklist").html();

			var template = Handlebars.compile(source);

			Handlebars.registerHelper('fullname', function() {
				var person = this;

                if(userType == 'order'){
    				var result = "<a  href='#myModal' ";
    				var append = "";
    				for (var key in person) {
                        if (key == 'order') {

                            if(person[key] !=null && person[key] !='null'){
                                append += " data-hashorder=yes"+' ';
                                append += " data-order-id="+person[key].id+' ';
                                var ss=JSON.stringify(person[key].details);
                                append += " data-order-details="+ss+ " ";
                            }else{

                                append += " data-hashorder=no"+' ';
                            }
                        }else {

                           if(person[key] != "" && person[key] !='null' && person[key] !=null){

                                 append += "data-"+key+"="+person[key]+" ";
                            }
                        }
    				}
    				result += append + ">"+" ";
                    result +=' <img class="media-object" style="margin-right: 10px;" src="imags/tasklist.svg">';
                    result +=person.name;
                    if(person.taskFlag =='1'){

                        result +='<span class="badge badge-primary">任务进行中</span>';
                    }else if(person.taskFlag =='3'){

                         result +='<span class="badge badge-positive">任务完成</span>';
                    }

                    result+="</a>";
                }else if(userType == 'alarm'){

                    var result = "<a  href='#alarmTask' ";
                    var append = "";
                    var append = "";
                    for (var key in person) {
                        if (key == 'order') {
                            append += " data-order-id="+person[key].id;
                        }else {
                            append += " data-alarm_"+key+"="+person[key]+ " ";
                        }
                    }
                    result += append + ">"+ '';
                    result +=' <img class="media-objectt" style="margin-right: 10px;" src="imags/tasklist.svg">';
                    result +=person.name;
                    result+="</a>";
                }
				return new Handlebars.SafeString(result);
			});


            var user= sessionStorage.getItem("user");
            var userType=sessionStorage.getItem("userType");
            var url="";

            if(userType == 'order'){

                // url="test.json";
                url="http://10.1.1.32:8080/ccs/invoke/scaffold/cc/sales/travel/user/"+user;
               console.log(url);
                $("#monitorHtml").hide();
            }else if(userType == 'alarm'){

                url="alarm.json";
            }
			$.ajax({
				// url:'http://10.1.1.54:8080/ccs/invoke/scaffold/cc/sales/travel/user/'+user,
				//dataType:'jsonp',
                url:url,
				crossDomain : true,

				success: function(data){
					var ss = JSON.stringify(data);
                    console.log(ss);
					var sss = '{"users": ' + ss + '}';
					var ppss =JSON.parse(sss);
					$('#tasks').append(template(ppss));
				},
				error: function(jqXHR, textStatus, errorThrown){
					console.log(errorThrown);
				}
			});

		</script>
        <script type="text/javascript" src="cordova.js"></script>
	</body>
</html>
